<template>
    <table id="tblExport" class="table table-striped table-bordered table-hover dataTables-example" style="margin-bottom: 5px;">    
        <div class="overlay" v-show="isVisible"></div>
        <thead class="theight">
            <tr>
                <th style="width: 60%; text-align: center;">ACCOUNT HEAD NAME</th>
                <th style="width: 20%; text-align: center;">DEBIT</th>
                <th style="width: 20%; text-align: center;">CREDIT</th>
            </tr>
        </thead>
      
        <tbody class="theight" v-for="(parent_account, index) in result_data">
            <tr style="background-color: #F5F5F6">
                <th style="text-align: left;" colspan="3" v-if="index == 'A'"><strong>Asset</strong></th>
                <th style="text-align: left;" colspan="3" v-if="index == 'L'"><strong>Liabilities</strong></th>
                <th style="text-align: left;" colspan="3" v-if="index == 'E'"><strong>Equity</strong></th>
                <th style="text-align: left;" colspan="3" v-if="index == 'R'"><strong>Revenue</strong></th>
            </tr>

            <tr class="gradeC" v-for="(child_account, index1) in parent_account">
                <td style="text-align: left;">{{ child_account.name }}</td>
                <td style="text-align: right;">{{ child_account.debit }}</td>
                <td style="text-align: right;">{{ child_account.credit }}</td>
            </tr>
        </tbody>

        <tfoot>
            <tr style="background-color: #F5F5F6">
                <th colspan="1" style="text-align: right;">TOTAL =</th>
                <th colspan="1" style="text-align: right;" v-html="total.debit">0.00</th>
                <th colspan="1" style="text-align: right;" v-html="total.credit">0.00</th>
            </tr>
        </tfoot>
    </table>
</template>

<script type="text/javascript">
	import moment from 'moment';
    export default {
        data() {
            return {
                result_data: [],
                total: {
                    debit: '',
                    credit: ''
                },
                isVisible: true
            }
        },
        mounted() {
            var from_date   = this.$route.query.from_date;
            var to_date     = this.$route.query.to_date;
            var site_url    = window.location.pathname;
            window.axios.get(site_url +'-api?' + 'from_date=' + from_date + '&to_date=' + to_date).then(response => {
                console.log('OK');
              this.result_data       = response.data.result;
              this.total.debit       = response.data.debit.toFixed(2);
              this.total.credit      = response.data.credit.toFixed(2);

              this.isVisible  = false;
            });
        },
        methods: { 
	      format_date(value){
	         if (value) {
	           return moment(String(value)).format('DD-MM-YYYY')
	          }
	      },
	   }
    };
</script>

<style type="text/css">
    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 999;
        background: rgba(255,255,255,0.8) url('https://digishop7.com/104_1/public/loader.gif') center no-repeat;
    }
</style>