<template>
	<table id="tblExport" class="table table-striped table-bordered table-hover dataTables-example" style="margin-bottom: 5px;">
        <div class="overlay" v-show="isVisible"></div>

        <thead class="theight">
            <tr>
                <th style="width: 5%; text-align: center;">SL#</th>
                <th style="width: 10%; text-align: center;">PAYMENT DATE</th>
                <th style="width: 10%; text-align: center;">BILLING DATE</th>
                <th style="width: 25%; text-align: center;">CUSTOMER</th>
                <th style="width: 20%; text-align: center;">ADDRESS</th>
                <th style="width: 10%; text-align: center;">PHONE</th>
                <th style="width: 10%; text-align: center;">MR#</th>
                <th style="width: 10%; text-align: center;">RECEIVED</th>
            </tr>
        </thead>
      
        <tbody class="theight">
            <tr class="gradeC" v-for="(item, index) in products">
                <td style="text-align: center;">{{ index + 1 }}</td>
                <td style="text-align: center;">{{ format_date(item.payment_date) }}</td>
                <td style="text-align: center;">{{ item.year }}</td>
                <td style="text-align: left;">{{ item.ClientName }}</td>
                <td style="text-align: left;">{{ item.ClientAddress }}</td>
                <td style="text-align: center;">{{ item.ClientContactNumber }}</td>
                <td style="text-align: center;">{{ item.mr_number }}</td>
                <td style="text-align: left;">{{ item.amount }}</td>
            </tr>
        </tbody>
    
        <tfoot class="tfheight">
            <tr>
                <th colspan="7" style="text-align: right;">TOTAL =</th>
                <th colspan="1" style="text-align: left;" v-html="total.total_received">0.00</th>
            </tr>
        </tfoot>
    </table>
</template>

<script type="text/javascript">
	import moment from 'moment';
    export default {
        data() {
            return {
                products: [],
                total: {
                    total_received: ''
                },
                isVisible: true
            }
        },
        mounted() {
            var from_date    = this.$route.query.from_date;
            var to_date      = this.$route.query.to_date;
            var customer_id  = this.$route.query.customer_id;
            var site_url     = window.location.pathname;
            window.axios.get(site_url +'-api?'+ 'from_date=' + from_date + '&to_date=' + to_date + '&customer_id=' + customer_id).then(response => {
                console.log('OK');
              this.products                 = response.data.result;
              this.total.total_received     = response.data.total_received.toFixed(2);

              this.isVisible  = false;
            });
        },
        methods: { 
	      format_date(value){
	         if (value) {
	           return moment(String(value)).format('DD-MM-YYYY')
	          }
	      },
	   }
    };
</script>

<style type="text/css">
    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 999;
        background: rgba(255,255,255,0.8) url('https://digishop7.com/brpoa/admin/public/loader.gif') center no-repeat;
    }
</style>