<template>
	<table id="tblExport" class="table table-striped table-bordered table-hover dataTables-example" style="margin-bottom: 5px;">
        <div class="overlay" v-show="isVisible"></div>

        <thead class="theight">
            <tr>
                <th style="width: 5%; text-align: center;">SL#</th>
                <th style="width: 15%; text-align: center;">CUSTOMER</th>
                <th style="width: 10%; text-align: center;">BILLING DATE</th>
                <th style="width: 15%; text-align: center;">RECEIVABLE</th>
                <th style="width: 10%; text-align: center;">RECEIVED</th>
                <th style="width: 10%; text-align: center;">DUES</th>
            </tr>
        </thead>
      
        <tbody class="theight">
            <tr class="gradeC" v-for="(item, index) in products">
                <td style="text-align: center;">{{ index + 1 }}</td>
                <td style="text-align: left;">{{ item.ClientName }}</td>
                <td style="text-align: center;">{{ item.month + ', ' + item.year }}</td>
                <td style="text-align: left;">{{ item.amount }}</td>
                <td style="text-align: left;">{{ item.amount_paid }}</td>
                <td style="text-align: left;">{{ item.amount_due }}</td>
            </tr>
        </tbody>
    
        <tfoot class="tfheight">
            <tr>
                <th colspan="3" style="text-align: right;">TOTAL =</th>
                <th colspan="1" style="text-align: left;" v-html="total.total_receivable">0.00</th>
                <th colspan="1" style="text-align: left;" v-html="total.total_received">0.00</th>
                <th colspan="1" style="text-align: left;" v-html="total.total_dues">0.00</th>
            </tr>
        </tfoot>
    </table>
</template>

<script type="text/javascript">
	import moment from 'moment';
    export default {
        data() {
            return {
                products: [],
                total: {
                    total_receivable: '',
                    total_received: '',
                	total_dues: ''
                },
                isVisible: true
            }
        },
        mounted() {
            var from_month   = this.$route.query.from_month;
            var from_year    = this.$route.query.from_year;
            var customer_id  = this.$route.query.customer_id;
            var type_id      = this.$route.query.type_id;
            var site_url     = window.location.pathname;
            window.axios.get(site_url +'-api?'+ 'from_month=' + from_month + '&from_year=' + from_year + '&customer_id=' + customer_id + '&type_id=' + type_id).then(response => {
                console.log('OK');
              this.products                 = response.data.result;
              this.total.total_receivable   = response.data.total_receivable.toFixed(2);
              this.total.total_received     = response.data.total_received.toFixed(2);
              this.total.total_dues         = response.data.total_dues.toFixed(2);

              this.isVisible  = false;
            });
        },
        methods: { 
	      format_date(value){
	         if (value) {
	           return moment(String(value)).format('DD-MM-YYYY')
	          }
	      },
	   }
    };
</script>

<style type="text/css">
    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 999;
        background: rgba(255,255,255,0.8) url('https://digishop7.com/water-billing/public/loader.gif') center no-repeat;
    }
</style>