<template>
    <div class="col-12">
        <div class="card">
            <div style="padding-top: 10px !important" class="card-body">
                <div class="row">
                    <button class="btn btn-success" style="border-radius: 0px;margin-left: 12px;padding: 8px;">
                        <router-link style="color: white;" to="/accounts/chart-of-accounts-new">Add New</router-link>
                    </button>  
                </div>

                <hr style="margin-top: 10px !important">

                <table id="" class="table table-bordered" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th style="width: 5%">SL</th>
                            <th style="width: 25%">Account Name</th>
                            <th style="width: 15%">Parent Account</th>
                            <th style="width: 10%">Account Type</th>
                            <th style="width: 25%">Description</th>
                            <th style="width: 10%">Status</th>
                            <th style="width: 10%">Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr v-for="(item, index) in products" :key="item.id">
                            <td>{{ index + 1 }}</td>
                            <td>{{ item.account_name }}</td>
                            <td>{{ item.parent_account_name }}</td>
                            <td>{{ item.account_type_name }}</td>
                            <td>{{ item.description }}</td>
                            <td>
                                <div v-if="item.status == 0">
                                    Inactive
                                </div>

                                <div  v-else-if="item.status == 1">
                                    Active
                                </div>
                            </td>
                            <td>
                                <router-link to="/accounts/chart-of-accounts-edit"><i style="color: blue" class="fa fa-edit"></i></router-link>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</template>

<script type="text/javascript">
    export default {
      mounted() {
        axios.get("/pos/clients/2_vue/accounts/chart-of-accounts/list-vue-api").then((response) => {
          this.products = response.data;
        });
      },
      data: function () {
        return {
          products: [],
        };
      },
    };
</script>