<template>
	<table id="tblExport" class="table table-striped table-bordered table-hover dataTables-example" style="margin-bottom: 5px;">
        <div class="overlay" v-show="isVisible"></div>

        <thead class="theight">
            <tr>
                <th style="width: 5%; text-align: center;">SL#</th>
                <th style="width: 10%; text-align: center;">DATE</th>
                <th style="width: 15%; text-align: center;">ACCOUNTS HEAD NAME</th>
                <th style="width: 15%; text-align: center;">PROJECT</th>
                <th style="width: 15%; text-align: center;">REGISTER</th>
                <th style="width: 10%; text-align: center;">PARTICULARS</th>
                <th style="width: 10%; text-align: center;">VR.NO</th>
                <th style="width: 10%; text-align: center;">RECEIPT</th>
                <th style="width: 10%; text-align: center;">PAYMENT</th>
            </tr>
        </thead>
      
        <tbody class="theight">
            <tr class="gradeC">
                <td style="text-align: right;" colspan="7">Opening Balance =</td>
                <td style="text-align: right;" colspan="2">0.00</td>
            </tr>

            <tr class="gradeC" v-for="(item, index) in products">
                <td style="text-align: center;">{{ index + 1 }}</td>
                <td style="text-align: center;">{{ format_date(item.VoucherDate) }}</td>
                <td style="text-align: left;">{{ item.HeadName }}</td>
                <td style="text-align: left;">{{ item.ProjectName }}</td>
                <td style="text-align: left;">{{ item.ClientName }}</td>
                <td style="text-align: left;">{{ item.Particulars }}</td>
                <td style="text-align: center;">{{ item.Type + '/' + item.VoucherNumber  }}</td>
                <td style="text-align: right;">{{ item.DebitAmount }}</td>
                <td style="text-align: right;">{{ item.CreditAmount }}</td>
            </tr>
        </tbody>
    
        <tfoot class="tfheight">
            <tr>
                <th colspan="7" style="text-align: right;">SUB TOTAL =</th>
                <th colspan="1" style="text-align: right;" v-html="total.total_debit">0.00</th>
                <th colspan="1" style="text-align: right;" v-html="total.total_credit">0.00</th>
            </tr>

            <tr>
                <th colspan="7" style="text-align: right;">BALANCE =</th>
                <th colspan="2" style="text-align: right;" v-html="total.balance">0.00</th>
            </tr>
        </tfoot>
    </table>
</template>

<script type="text/javascript">
	import moment from 'moment';
    export default {
        data() {
            return {
                products: [],
                total: {
                    total_debit: '',
                	total_credit: ''
                },
                isVisible: true
            }
        },
        mounted() {
            var from_date   = this.$route.query.from_date;
            var to_date     = this.$route.query.to_date;
            var type        = this.$route.query.type;
            var site_url    = window.location.pathname;
            window.axios.get(site_url +'-api?'+ 'from_date=' + from_date + '&to_date=' + to_date + '&type=' + type).then(response => {
                console.log('OK');
              this.products             = response.data.result;
              this.total.total_debit    = response.data.debit.toFixed(2);
              this.total.total_credit   = response.data.credit.toFixed(2);
              this.total.balance        = (response.data.debit - response.data.credit).toFixed(2);

              this.isVisible  = false;
            });
        },
        methods: { 
	      format_date(value){
	         if (value) {
	           return moment(String(value)).format('DD-MM-YYYY')
	          }
	      },
	   }
    };
</script>

<style type="text/css">
    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 999;
        background: rgba(255,255,255,0.8) url('https://digishop7.com/ticket-billing-system/1/loader.gif') center no-repeat;
    }
</style>