<template>
    <table id="tblExport" class="table table-striped table-bordered table-hover dataTables-example" >
        <thead class="theight">
            <tr style="background:#ddd;">
                <th style="text-align: center;width: 3%">SL</th>
                <th style="text-align: center;width: 4%">DATE</th>
                <th style="text-align: center;width: 2%">MACHINE ID</th>
                <th style="text-align: center;width: 2%">EMPLOYEE ID</th>
                <th style="text-align: center;width: 7%">EMPLOYEE NAME</th>
                <th style="text-align: center;width: 6%">DESIGNATION</th>
                <th style="text-align: center;width: 4%">SHIFT</th>
                <th style="text-align: center;width: 4%">STATUS</th>
                <th style="text-align: center;width: 4%">IN TIME</th>
                <th style="text-align: center;width: 5%">OUT TIME</th>
                <th style="text-align: center;width: 5%">TOTAL HOUR</th>
            </tr>
        </thead>

        <tbody class="theight" v-for="(item, index) in products">
            <tr>
                <td style="text-align: center;background-color: #C0C0C0;!important" colspan="11"><strong>{{ 'Attendance Date : ' + format_date(index) }}</strong></td>
            </tr>

            <tbody class="theight" v-for="(item_list, index1) in item">
                <tr>
                    <td style="text-align: left;" colspan="11"><strong>{{ 'Department : ' + index1 }}</strong></td>
                </tr>
            </tbody>

            <tbody class="theight" v-for="(item_list1, index2) in item_list">
                <tr>
                    <td style="text-align: center;">{{ index2 + 1 }}</td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;text-align: left;"></td>
                    <td style="text-align: center;text-align: left;"></td>
                    <td style="text-align: center;text-align: center;font-weight: bold"></td>
                    <td style="text-align: center;">
                        <strong>
                        </strong>
                    </td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                    <td style="text-align: center;"></td>
                </tr>
            </tbody>
        </tbody>
    </table>
</template>

<script type="text/javascript">
    import moment from 'moment';
    export default {
        data() {
            return {
                products: []
            }
        },
        mounted() {
            var from_date   = this.$route.query.from_date;
            var to_date     = this.$route.query.to_date;
            window.axios.get('/pos/clients/104/reports/attendance-report/print-api?'+ 'from_date=' + from_date + '&to_date=' + to_date).then(response => {
              this.products = response.data.result;

              console.log(response.data.result);
            });
        },
        methods: { 
          format_date(value){
             if (value) {
               return moment(String(value)).format('DD-MM-YYYY')
              }
          },
       }
    };
</script>