<template>
    <table id="tblExport" class="table table-striped table-bordered table-hover dataTables-example" style="margin-bottom: 5px;">    
        <div class="overlay" v-show="isVisible"></div>
        <thead class="theight">
            <tr>
                <th style="width: 5%; text-align: center;">SL#</th>
                <th style="width: 15%; text-align: center;">ACCOUNTS HEAD NAME</th>
                <th style="width: 10%; text-align: center;">BALANCE</th>
            </tr>
        </thead>
      
        <tbody class="theight" v-for="(item, index) in products">
            <tr style="background-color: #F5F5F6">
                <th style="text-align: left;font-weight: bold;" colspan="4">{{ index }}</th>
            </tr>

            
            <tr class="gradeC" v-for="(item_list, i) in item">
                <td style="text-align: center;">{{ item_list.sl }}</td>
                <td style="text-align: left;">{{ item_list.head_name }}</td>
                <td style="text-align: left;">{{ item_list.balance }}</td>
            </tr>

            <tr v-if="index == 'Cash In Hand'">
                <th style="text-align: right;font-weight: bold;" colspan="2">SUB TOTAL =</th>
                <th style="text-align: left;font-weight: bold;">{{ total.sub_total_cash }}</th>
            </tr>

            <tr v-if="index == 'Cash At Bank'">
                <th style="text-align: right;font-weight: bold;" colspan="2">SUB TOTAL =</th>
                <th style="text-align: left;font-weight: bold;">{{ total.sub_total_bank }}</th>
            </tr>
            
        </tbody>

        <tfoot>
            <tr style="background-color: #F5F5F6">
                <th style="text-align: right;font-weight: bold;" colspan="2">GRAND TOTAL =</th>
                <th style="text-align: left;">{{ total.grand_total }}</th>
            </tr>
        </tfoot>
    </table>
</template>

<script type="text/javascript">
    export default {
        data() {
            return {
                products: [],
                total: {
                    sub_total_cash: '',
                    sub_total_bank: '',
                    grand_total: ''
                },
                isVisible: true
            }
        },
        mounted() {
            var site_url    = window.location.pathname;
            window.axios.get(site_url +'/api').then(response => {
                console.log('OK');
              this.products                 = response.data.result;
              this.total.sub_total_cash     = response.data.sub_total_cash.toFixed(2);
              this.total.sub_total_bank     = response.data.sub_total_bank.toFixed(2);
              this.total.grand_total        = (response.data.grand_total).toFixed(2);

              this.isVisible  = false;
            });
        }
    };
</script>

<style type="text/css">
    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 999;
        background: rgba(255,255,255,0.8) url('https://digishop7.com/ticket-billing-system/1/public/loader.gif') center no-repeat;
    }
</style>