<template>
	<div class="col-md-3">
        <div class="card-counter success">
            <i class="fa fa-database"></i>
            <span id="todaysSales" class="count-numbers">
                <h4 class="mb-0">5,00000</h4>
            </span>
            <span class="count-name">Today's Receivable</span>
        </div>
    </div>
</template>

<script type="text/javascript">
    export default {
      mounted() {
        axios.get("").then((response) => {
          this.products = response.data;
        });
      },
      data: function () {
        return {
          products: [],
        };
      },
    };
</script>