<template>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form ref="mainForm" @submit.prevent="updateData()">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 form-group">
                            <label for="productname" class="col-form-label">Account Name *</label>
                            <input type="text" name="name" class="inner form-control" id="name" placeholder="Enter AccountName" v-model="act.name" required />
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 form-group">
                            <label for="productname" class="col-form-label">Description</label>
                            <input type="text" name="description" class="inner form-control" id="description" placeholder="Enter Description" v-model="act.description" />
                        </div>
                    </div>

                    <hr style="margin-top: 0px !important">

                    <div class="form-group row">
                        <div class="button-items col-lg-12 col-md-12 col-sm-12 col-12">
                            <button type="submit" class="btn btn-primary waves-effect waves-light" id="formSubmit">Update</button>
                            <button type="button" class="btn btn-secondary waves-effect waves-light"><a style="color: white" href="">Close</a></button>
                            <button type="button" class="btn btn-success waves-effect waves-light">
                                <router-link to="/accounts/chart-of-accounts">List of Accounts</i></router-link>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> 
</template>

<script>
    export default {
        data() {
            return {
                act: {
                    name: '',
                    description: ''
                },
                errors: []
            }
        },
        mounted() {
            let vm = this;

            this.getData();
        },
        methods: {
            getData() {
                let vm          = this;
                let category_id = 1;
                let url         = '/pos/clients/2_vue/accounts/chart-of-accounts/edit/' + category_id;

                axios
                    .get(url)
                        .then((response) => {
                            let data = response.data.account;
      
                            vm.act.name             = data.account_name;
                            vm.act.description      = data.description;

                        });

            },
            updateData() {
                document.getElementById("formSubmit").innerHTML= "Updating Your Data. Please Wait...";

                let data = new FormData();

                data.append('name', this.act.name);
                data.append('description', this.act.description);

                axios
                    .post('/pos/clients/2_vue/accounts/chart-of-accounts/update/1', data)
                    .then((response) => {
                        document.getElementById("formSubmit").innerHTML= "Data Updated Successfully";
                    })
                    .catch((error) => {
                        document.getElementById("formSubmit").innerHTML= "Submit Again";
                        this.errors = error.response.data;
                    });
            }
        }
    }
</script>