<template>
    <div class="card">
        <div class="card-body table-responsive">
            <h4 class="card-title">List Of Products</h4>

            <router-link to="/check">Go check</router-link>
        </div>
    </div>
</template>

<script type="text/javascript">

    export default{

        name: 'CheckList2',
    }

</script>