.nav {
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

.nav-tabs li {
	width: 100%
}

.nav-tabs li .nav-link {
	width: 100%;
	border: none;
	padding: 16px 0px;
	border-radius: 3px;
	text-align: center;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	color: var(--headingcolor);
	border-bottom: 3px solid transparent;
	text-shadow: var(--tshadow)
}

.nav-tabs li .nav-link:hover {
	background: var(--graycolor);
	border-color: transparent
}

.nav-tabs li .active {
	color: var(--brandcolor) !important;
	background: var(--navbarcolor) !important;
	border-color: var(--brandcolor) !important
}

.tab-pane {
	display: none;
	padding: 50px 50px
}

.tab-pane.active {
	display: block
}

@media (max-width: 575px) {
	.nav-tabs li .nav-link {
		font-size: 12px;
		padding: 12px 0px
	}
	.tab-pane {
		padding: 30px 0px
	}
}

.sign-part {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.sign-content {
	width: 55%;
	height: 100vh;
	background: url(../../img/banner/travel-agency-software.webp);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	/*z-index: 1*/
}

.sign-content::before {
	position: absolute;
	content: "";
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))); 
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)); 
    /*background: #3AB397;*/
	z-index: -1
}

.content-cover {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	width: 600px
}

.content-cover a {
	margin-bottom: 35px
}

.content-cover a img {
	width: 190px;
	height: auto
}

.content-cover h1 {
	color: #ffc107;
	font-size: 50px;
	line-height: 60px
}

.content-cover em {

	color: #ffc107;
	font-size: 35px;
	line-height: 60px

}

.sign-form {
	width: 45%;
	height: 100vh;
	/*background: var(--graycolor);*/
	background: var(--whitecolor);
	overflow-y: scroll;
	overflow-x: hidden
}

.back-arrow {
	position: fixed;
	top: 50px;
	left: 50px;
	z-index: 1
}

.back-arrow a:nth-child(1) {
	display: none
}

.back-arrow a i {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 3px;
	font-size: 16px;
	color: var(--whitecolor);
	background: var(--brandcolor);
	text-shadow: var(--tshadow);
	-webkit-box-shadow: var(--bshadow);
	box-shadow: var(--bshadow)
}

.back-arrow a i:hover {
	color: var(--brandcolor);
	background: var(--whitecolor)
}

.sign-cate {
	margin-bottom: 50px
}

.sign-form .tab-pane {
	display: none;
	padding: 0px 50px
}

.sign-form .tab-pane.active {
	display: block
}

.sign-heading {
	text-align: center;
	margin-top: 45px;
	margin-bottom: 45px;
}

.sign-heading h2 {
	margin-bottom: 7px;
	margin-top: 7px;
}

.form {
	margin-bottom: 45px
}

.form-label {
	display: block;
	position: relative;
	margin-bottom: 20px
}

.form-label:focus-within button i {
	display: block
}

.form-label:focus-within small {
	display: block
}

.form-label input {
	border: none;
	width: 100%;
	height: 45px;
	border-radius: 3px;
	padding: 0px 55px 0px 20px;
	border: 1px solid var(--bordercolor);
	background: var(--graycolor);
	transition: all linear .3s;
	-webkit-transition: all linear .3s;
	-moz-transition: all linear .3s;
	-ms-transition: all linear .3s;
	-o-transition: all linear .3s
}

.form-label input:focus-within {
	border: 1px solid var(--brandcolor)
}

.form-label button {
	border: none;
	background: none;
	position: absolute;
	top: 15px;
	right: 20px
}

.form-label button i {
	font-size: 16px;
	color: #aaaaaa;
	display: none
}

.form-label small {
	display: none;
	padding: 3px 20px
}

.form-suggest {
	text-align: center
}

.form-suggest p {
	color: var(--headingcolor)
}

.form-suggest p a {
	font-weight: 500
}

.form-suggest p a:hover {
	color: var(--brandcolor);
	text-decoration: underline
}

.form-btn {
	display: block
}

.form-btn .btn {
	width: 100%;
	height: 45px
}

.form-option {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 30px
}

.form-option li {
	margin: 0px 8px
}

.form-option li a {
	width: 125px;
	padding: 5px;
	color: var(--whitecolor);
	border-radius: 3px
}

.form-option li a i {
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	border-radius: 3px;
	font-size: 12px;
	margin-right: 8px;
	text-shadow: var(--tshadow)
}

.form-option li a span {
	font-size: 14px;
	text-transform: capitalize;
	text-shadow: var(--tshadow)
}

.form-option li:nth-child(1) a {
	background: #4267B2
}

.form-option li:nth-child(1) a i {
	background: #375797
}

.form-option li:nth-child(2) a {
	background: #1DA1F2
}

.form-option li:nth-child(2) a i {
	background: #1a95e2
}

.form-option li:nth-child(3) a {
	background: #DB4437
}

.form-option li:nth-child(3) a i {
	background: #be3a2e
}

.or-text {
	position: relative;
	z-index: 1
}

.or-text::before {
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
	height: 1px;
	background: var(--bordercolor);
	z-index: -1
}

.or-text p {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 3px;
	background: var(--whitecolor);
	border: 1px solid var(--bordercolor);
	margin: 0px auto 30px
}

.form-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 20px
}

.form-link a {
	font-size: 15px;
	color: var(--textcolor)
}

.form-link a:hover {
	color: var(--brandcolor);
	text-decoration: underline
}

.form-link .custom-control-label {
	font-size: 15px;
	line-height: 26px;
	cursor: pointer
}

.form-link .custom-control-label::before {
	top: 5px
}

.form-link .custom-control-label::after {
	top: 5px
}

.form-link .custom-control-input:checked~.custom-control-label::before {
	border-color: #ff5644;
	background-color: #ff5644
}

.form-bottom {
	text-align: center;
	margin-bottom: 50px
}

.form-bottom p {
	color: #666666;
	font-size: 18px;
	width: 290px;
	margin: 0 auto
}

.form-bottom p span {
	font-weight: 500;
	color: var(--brandcolor)
}

@media (max-width: 767px) {
	.sign-form {
		width: 100%
	}
	.sign-form .tab-pane {
		padding: 0px 25px
	}
	.form-option li a {
		width: auto
	}
	.form-option li a i {
		width: 60px;
		margin-right: 0px
	}
	.form-option li a span {
		display: none
	}
}

@media (max-width: 575px) {
	.sign-content {
		display: none
	}
	.back-arrow {
		position: inherit;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding: 15px
	}
	.back-arrow a:nth-child(1) {
		display: block
	}
	.back-arrow a img {
		width: 155px
	}
	.back-arrow a i {
		width: 40px;
		height: 40px;
		line-height: 40px;
		color: var(--whitecolor);
		background: var(--brandcolor)
		/*color: var(--brandcolor);
		background: var(--whitecolor)*/
	}
	.back-arrow a i:hover {
		color: var(--brandcolor);
		background: var(--whitecolor)
		/*color: var(--whitecolor);
		background: var(--brandcolor)*/
	}
	.form-bottom p {
		width: 100%
	}
}

@media (min-width: 576px) and (max-width: 1199px) {
	.sign-content {
		width: 45%
	}
	.content-cover {
		width: 235px
	}
	.content-cover a img {
		width: 150px
	}
	.content-cover h1 {
		font-size: 24px;
		line-height: 32px
	}
	.content-cover p {
		font-size: 18px
	}
	.sign-form {
		width: 55%
	}
	.sign-form .tab-pane {
		padding: 0px 25px
	}
	.form-bottom p {
		width: 260px
	}
}