<template>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form ref="mainForm" @submit.prevent="storeData()">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 form-group">
                            <label for="productname" class="col-form-label">Account Name *</label>
                            <input type="text" name="name" class="inner form-control" id="name" placeholder="Enter AccountName" v-model="category.name" required />
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 form-group">
                            <label for="productname" class="col-form-label">Description</label>
                            <input type="text" name="description" class="inner form-control" id="description" placeholder="Enter Description" v-model="category.description" />
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 form-group">
                            <label for="productname" class="col-form-label">Account Type</label>
                            <select style="cursor: pointer" class="form-control select2" name="account_type_id" required>
                                <option value="">--Select Account Type--</option>
                            </select>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 form-group">
                            <label for="productname" class="col-form-label">Status</label>
                            <select style="cursor: pointer" class="form-control" name="status">
                                <option value="1">Active</option>
                                <option value="0">Inactive</option>
                            </select>
                        </div>
                    </div>

                    <hr style="margin-top: 0px !important">

                    <div class="form-group row">
                        <div class="button-items col-lg-12 col-md-12 col-sm-12 col-12">
                            <button type="submit" class="btn btn-primary waves-effect waves-light" id="formSubmit">Save</button>
                            <button type="button" class="btn btn-secondary waves-effect waves-light"><a style="color: white" href="">Close</a></button>
                            <button type="button" class="btn btn-success waves-effect waves-light">
                                <router-link to="/accounts/chart-of-accounts">List of Accounts</i></router-link>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> 
</template>

<script>
    export default {
        data() {
            return {
                category: {
                    name: '',
                    description: '',
                    account_type_id: '',
                    status: ''
                },
                errors: []
            }
        },
        methods: {
            storeData() {
                document.getElementById("formSubmit").innerHTML= "Storing Your Data. Please Wait...";

                let data = new FormData();

                data.append('name', this.category.name);
                data.append('description', this.category.description);
                data.append('account_type_id', this.category.account_type_id);
                data.append('status', this.category.status);

                axios
                    .post('/pos/clients/2_vue/accounts/chart-of-accounts/store', data)
                    .then((response) => {
                        document.getElementById("formSubmit").innerHTML= "Data Stored Successfully";

                        setTimeout(() => {  
                            document.getElementById("formSubmit").innerHTML= "Save";
                            this.$refs.mainForm.reset();
                        }, 2000);
                    })
                    .catch((error) => {
                        document.getElementById("formSubmit").innerHTML= "Submit Again";
                        this.errors = error.response.data;
                    });
            }
        }
    }
</script>