<template>
    <div class="card">
        <div class="card-body table-responsive">
            <h4 class="card-title">List Of Products</h4>

            <br>

            <table id="datatable" class="table table-bordered" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                <thead>
                    <tr>
                        <th>SL#</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th style="text-align: center">Major Category</th>
                        <th style="text-align: center">Purchase Price</th>
                        <th style="text-align: center">R/Price</th>
                        <th style="text-align: center">W/Price</th>
                        <th style="text-align: center">Stock</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <router-link to="/check2">Go check2</router-link>
        </div>
    </div>
</template>

<script type="text/javascript">

    export default{

        name: 'CheckList',
    }

</script>