<template>
	<table class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
        <div class="overlays" v-show="isVisible"></div>

        <thead class="theight">
            <tr>
                <th style="width: 5%; text-align: center;">SL#</th>
                <th style="width: 15%; text-align: center;">CUSTOMER</th>
                <th style="width: 10%; text-align: center;">ADDRESS</th>
                <th style="width: 15%; text-align: center;">PHONE</th>
                <th style="width: 10%; text-align: center;">BALANCE</th>
            </tr>
        </thead>
      
        <tbody class="theight">
            <tr class="gradeC" v-for="(item, index, key) in products" :key="key">
                <td style="text-align: center;">{{ incrementIndex(key) }}</td>
                <td style="text-align: left;">{{ item.name }}</td>
                <td style="text-align: left;">{{ item.address }}</td>
                <td style="text-align: center;">{{ item.phone }}</td>
                <td style="text-align: right;">{{ item.dues }}</td>
            </tr>
        </tbody>
    
        <tfoot class="tfheight">
            <tr>
                <th colspan="4" style="text-align: right;">TOTAL =</th>
                <th colspan="1" style="text-align: right;" v-html="total.total_dues">0.00</th>
            </tr>
        </tfoot>
    </table>
</template>

<script type="text/javascript">
	import moment from 'moment';
    export default {
        data() {
            return {
                products: [],
                total: {
                	total_dues: ''
                },
                isVisible: true
            }
        },
        mounted() {
            var customer_id  = this.$route.query.customer_id;
            var ledger_type  = this.$route.query.ledger_type;
            var site_url     = window.location.pathname;
            window.axios.get(site_url +'/print-api?customer_id=' + customer_id + '&ledger_type=' + ledger_type).then(response => {
                console.log('OK');
              this.products                 = response.data.result;
              this.total.total_dues         = response.data.total_dues.toFixed(2);

              this.isVisible  = false;
            });
        },
        methods: { 
	        format_date(value){
	           if (value) {
	               return moment(String(value)).format('DD-MM-YYYY')
	           }
	        },
            incrementIndex(key){
                return key + 1;
            },
	   }
    };
</script>

<style type="text/css">
    .overlays {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 999;
        background: rgba(255,255,255,0.8) url('http://localhost/pos/billing/water-bill/public/loader.gif') center no-repeat;
    }
</style>